.settings {
    display: flex;
    background-color: #fff;
    color: black;
    margin-left: 250px;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.settings-sidebar {
    width: 280px;
    border-right: 1px solid #ddd;
    padding-top: 10px;
    height: 100vh;
    overflow-y: auto;
    flex-shrink: 0;
}


.settings-menu {
    width: 280px;
    padding: 20px 0;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    overflow-y: auto;
}

.setting-title {
    padding: 1px 20px;
    font-size: 20px;
    font-weight: bold;
}


.settings-menu p {
    margin: 15px 0 5px 20px;
    font-weight: 600;
    font-size: 14px;
    color: #555;
}

.settings-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-menu li {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    margin: 2px 10px;
    transition: background 0.2s;
}


.settings-menu li:hover {
    background-color: #f1f5f9;
}

.settings-menu li.active {
    background-color: #f1f5f9;
}

.settings,
.settings-sidebar,
.settings-menu {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.settings::-webkit-scrollbar,
.settings-sidebar::-webkit-scrollbar,
.settings-menu::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

html,
body,
#root {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
    display: none !important;
}