.Navabar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 80px;
    padding: 0 40px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

.Navabr-Left {
    display: flex;
    align-items: center;
    flex: 1;
}

.Navbar-Serach-input {
    width: 100%;
    max-width: 600px;
    padding: 10px 30px;
    border: 1px solid #c5c6c8;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    background-color: inherit;
    color: black;
}

.Navbar-Right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.Navbar-notification h2 {
    color: black;
    margin: 0;
    cursor: pointer;
}

.Navbar-Profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Navabr-Profile-User p {
    color: black;
    margin: 0;
    font-weight: 500;
}

.Navbar-Profile-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}