body {
  background-color: rgb(255, 255, 255);
  /* or white if you want pure white */
  margin: 0;
  padding: 0;
}

.profile-container {
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-top: -375px;
  margin-left: 250px;
  width: 1400px;
  position: fixed;
}

.profile-header {
  position: relative; /* important */
  width: 100%;
}

.profile-image {
  position: absolute;
  bottom: -60px; /* half overlaps the cover */
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid white;
}
/* COVER */
.cover {
  width: 100%;
  height: 180px;
  background: linear-gradient(135deg, #c3dbff, #4a90e2);
  position: relative;
  border-radius: 8px 8px 0 0;
}

.cover-img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}


/* INFO */
.profile-info {
  margin-top: 70px;
}

.profile-info h2 {
  margin: 10px 0 5px;
  color: black;
}

.designation {
  color: #777;
  margin: 0;
}

.location {
  color: #5382aa;
  font-size: 14px;
}

/* STATS */
.profile-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

.profile-stats h3 {
  color: #5382aa;;
  margin-bottom: 5px;
}

.profile-stats p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* BUTTONS */
.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.btn.edit {
  background: #5382aa;
  color: white;
}


.btn.del {
  background: #eb5252;
  color: white;
}

/* TABS */
.profile-tabs {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  background: white;
}

.profile-tabs span {
  font-weight: 600;
  color: #888;
  cursor: pointer;
}

.profile-tabs .active {
  color: #5382aa;
}

/* GALLERY
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 10px;
}

.gallery img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
} */