.resetpassword {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 1600px;
    height: 800px;
    background-color: #5B86E5;
}

.resetpassword-conainer {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 200px;
    height: 700px;
    width: 1200px;
}

.resetpassword-left {
    width: 50%;
}

.resetpassword-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.auth-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.auth-card {
    width: 80%;
    max-width: 350px;
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 25px;
}

.auth-card form {
    display: flex;
    flex-direction: column;
}

.auth-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
}

/* BUTTON CENTER */
.signin-btn {
    margin-top: 20px;
    align-self: center;
    padding: 12px 35px;
    background: linear-gradient(90deg, #5B86E5, #36D1DC);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.signin-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.login-footer {
    text-align: center;
    margin-top: 15px;
    color: black;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

.Forgot-pass {
    text-align: right;
    margin-top: 5px;
}
