.editProfile {
    background: white;
    min-height: 100vh;
    width: 950px;
    padding: 40px 20px;
    color: black;
    font-family: Arial, sans-serif;
}

.back-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #1f2937;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.2s;
}

.back-button svg {
    flex-shrink: 0;
    strokeWidth: 2;
    transition: transform 0.2s;
}


.back-button:hover svg {
    transform: translateX(-2px);
}


.profile-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    color: black;
}

.profile-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile-info {
    flex: 1;
    margin-left: 15px;
}

.profile-info h3 {
    text-align: start;
    margin-top: -50px;
}

.change-photo-btn {
    background: #3b5bff;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.form-group {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.form-group input,
.form-group textarea,
.form-group select {
    background: white;
    border: 1px solid #333;
    color: black;
    padding: 12px;
    border-radius: 8px;
    margin-top: 8px;
}

.form-group textarea {
    resize: none;
    height: 80px;
}

.info-text {
    font-size: 12px;
    color: #aaa;
    margin-top: 6px;
}

.char-count {
    font-size: 12px;
    color: #aaa;
    text-align: right;
    margin-top: 4px;
}

.switch-group {
    background: #1c1c1c;
    padding: 18px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.switch-group h4 {
    margin: 0 0 6px 0;
}

.switch-group p {
    font-size: 12px;
    color: #aaa;
    max-width: 400px;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #555;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #3b5bff;
}

input:checked+.slider:before {
    transform: translateX(24px);
}

.submit-btn {
    width: 200px;
    padding: 12px;
    background: #2f4fff;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}